{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static "style.css" %} ">
    <title>
        {% block title %}tweeter{% endblock title %}
    </title>
    <style>
        .logo h1 {
            margin-bottom: 20px; /* Adds space between the header and buttons */
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="logo">
        <h1>tweeter</h1>
        <a href="+">profile</a>
        <a href="+">notification</a>
        <a href="+">storys</a>


      </div>

            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="btn-btn danger" type="submit">
                logout
              </button>
            </form>
            {% else %}
            <a class="btn btn-primary mx-2" href="{% url 'register' %}">register</a>
            <a class="btn btn-primary mx-2" href="{% url 'login' %}">login</a>
            {% endif %}
      </nav>
    {% block content %}
    {% endblock content %}
</div>    
</body>
</html>